<div class="row">
  <form class="col s12" method="post" action="/posts">
    <div class="row">
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>

      <button type="submit">Salvar</button>
  </form>
</div>
